@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar
{
    background-color:rgb(204, 204, 204);
    width: 200px;
    font-family: "Poppins", sans-serif;
    /* height: 100vh; */
}

.sidebar nav
{
    padding: 45px;
}

.sidebar nav li
{
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}

.sidebar nav a
{
    text-decoration: none;
    color:black;
}

.main
{
    background-color: rgb(62, 62, 61);
    width: 90vw;
    
}

.container
{
    display: flex;
}

.infoContainer
{
    /* background-color: red; */
    height: 60vh;
    width: 80vw;
    padding: 10px;
    margin: 140px 40px;
    display: flex;
    justify-content : space-around;
}

.devInfo
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
}

.hello
{
    font-size: 70px;
}

.name
{
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
}

.about
{
    font-size: 40px;
}

.moreabout
{
    font-size: 20px;
    margin-top: 20px;
}

.buttons
{
    margin-top: 35px;
}

.btn
{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color:black;
    font-size: 19px;
    margin: 0px 3px;
    cursor: pointer;
}

.btn-sm
{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}

.btn:hover
{
    background-color: white;
    color:black;
}

.devPic
{
    height: 54vh;
}

.contactform
{
    padding: 0 34px;
    padding-top: 140px;
    font-family: "Noto Sans", sans-serif;
}

.contactform h2
{
    font-family: "Source Code Pro", monospace;
    padding: 12px 0;
}

.contactform form div
{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input
{
    width: 25vw;
    border-radius: 5px;
    margin:  6px 0 0 0;
    padding: 3px;

}

#emailHelp
{
    font-size: 9px;
    color: midnightblue;
    margin: 0 5px;
    padding-top: 5px;
    padding-left: 10px;
}

h1
{
    font-family: "Source Code Pro", monospace;
}

p
{
    font-family: "Noto Sans", sans-serif;
}

.intro h2
{
    font-family: "Source Code Pro", monospace;
    margin-top: 12px;
    background-color: rgb(62, 62, 61);
}

.intro p
{
    font-family: "Noto Sans", sans-serif;
    margin-top: 12px;
}

.skillcontainer
{
    padding: 12px;
}

.skillItem
{
    display: flex;
    align-items: center ;
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
}


.skill
{
    width: 260px;
    height: 6px;
    background-color: rgb(255, 0, 0);
    border : 2px solid rgb(0, 0, 0);
}

.t1
{
    width : 250px;
}

.t2
{
    width: 200px;
}

.t3
{
    width: 150px;
}

.t4
{
    width : 100px;
}

.t5
{
    width : 50px;
}